[submodule "lib/PhpLib"]
	path = lib/PhpLib
	url = https://github.com/gfarrell/PhpLib.git
[submodule "advanced-custom-fields"]
	path = lib/advanced-custom-fields
	url = https://github.com/elliotcondon/acf.git
