body {
    //background: url(img/background_pattern.png) repeat top left;
    padding:0;
}

footer#Footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background: @grayLighter;
    padding: @paddingSmall;
}

.logo {
    margin: 1em 2em;
}

.navbar.main {
    border-top: @purple thick solid;

    .navbar-inner {
        background: transparent;
        border:none;
        .box-shadow(none);
    }

    .nav > li {
        & > a {
            color: black;
            font-weight: bold;
            text-shadow: none;
            .transition(all 0.1s);

            &:hover {
                background: fade(@purple, 10%);
            }
        }

        &.active > a {
            background: @purple;
            .box-shadow(none);
            color: white;
            border: none;
        }

        & > .dropdown-menu {
            .box-shadow(none);
            .border-radius(0);
            margin: 0;

            &:before {
                border: none;
            }

            & > li {
                border-top: @dropdownDividerTop thin solid;
                border-bottom: @dropdownDividerBottom thin solid;

                &:first-child {
                    border-top: 0;
                }
                &:last-child {
                    border-bottom: 0;
                }

                & > a {
                    &:hover {
                        background: @purple;
                    }
                }
            }
        }
    }
}

.expand-bar {
    width:100%;
    text-align: center;
    background: @purple;
    font-weight: bold;
    font-size: 2em;
    padding:0.5em 0;

    .transition(background 0.75s ease-in-out);

    &.open {
        background: @grayLight;
    }

    a {
        color: white;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

@media(max-width: @navbarCollapseWidth) {
    .navbar.main {
        border-top: none;
        width:100%;
    }
}
@media(min-width: @navbarCollapseWidth) {
    .navbar.main .navbar-menu {
        .pull-right;
    }
}

/*#KCSUPageHeader {
    margin-bottom: 30px;
    
    .logo {
        margin: 30px 0;
    }

    .brand {
        font-weight: bold;
        font-size: 24px;
        padding-top: 15px;
    }

    .navbar {
        .navbar-inner {
            background: transparent;

            .border-radius(0);

            border-left: 0;
            border-right: 0;

            .box-shadow(none);
        }

        .nav > li > a {
            font-weight: bold;

            &:hover {
                border-left: thin solid darken(@navbarBackground, 5%);
                border-right: thin solid darken(@navbarBackground, 5%);
                background: @navbarBackground;
            }

            &.active {
                background: transparent;
                .box-shadow(0);
            }
        }
    }
}*/