.events.extra {
    margin-top: 10px;
    margin-bottom: 30px;

    background: @infoBackground;

    .border-radius(5px);

    & > div {
        padding: 10px;
    }

    ul.where-and-when {
        padding: 0.2em;
        list-style-type: none;
        margin:0;

        li {
            font-size: 1.25em;
            font-weight: bold;
            margin-bottom: 0.2em;

            i {
                margin-right: 1em;
            }
        }
    }
}